
a img{
    width: 12rem;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Arimo', sans-serif;
    background-color: #fff9e6;
}

body{
    margin: 0;
    overflow-x:hidden;
}

h1{
    margin-left: 1rem;
}

header{
    background-color: #f05988;
    background-size: cover;
    margin: 0;
    

    color:#fff9e6;
    font-weight: 700;
    
    display: flex;
    margin: 0;
    padding: 0rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header a{
    color:#fff9e6;
    text-decoration: none;
    
}

/* footer */


footer{
    background-color: #37b87c;
    margin: 0;
    
    
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    
}

footer a{
    color:#fff9e6;
    font-weight: 600;
    margin-right: 1rem;
    margin-top: 1rem;

    text-align:end;
    font-size: 15px;

    align-content: flex-start;
    align-items:center;
 
}

footer img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 12rem;
    margin: 1rem;
}

.foot-1 a{
    grid-column: 2/3;
    grid-row: 1/2;
}

.foot-2 a{
    grid-column: 2/3;
    grid-row: 2/3;
    

}

.pink-footer{
    background-color: #f05988;
}

/* main */

h1{
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 1rem;
}


/*featured gallery  */

.gallery img{
    width: 14rem;
    display: flex; 
    justify-content: flex-end;
    border-radius: 15px;
}

.gallery{
    color:#fff9e6;
}

.gallery1, .gallery2, .gallery3{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 30% 1fr;
    gap: 0;
    align-content: center;
}


.gallery img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self:center;
    align-self:center;
    box-shadow: 10px 10px #f05988;
}

.gallery h2{
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.gallery p{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-right: 1rem;
    align-self:flex-start;
    align-items:flex-start;
    font-size: 15px;
}

h2{
    font-size: 18px;
    align-self: center;

    padding-top: 3rem;
}

.gallery2 img{
    box-shadow: 10px 10px #8784bf;
}

.gallery2 p{
    font-size: 14px;
}

.gallery3 img{
    border-radius: 15px;
    width:12rem;
}

.gallery3 h2{
   font-size: 18px;
   padding-top: 2rem;
}



/* fancy carousel things*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


ul {
  width: 100vw;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  gap: 10vw;
}

li {
  list-style-type: none;
  background-color: #8784bf;
  
  padding: 10px;
  border-radius: 30px;


  flex: 0 0 100%;
}

li:nth-child(even) {
  background-color: #f05988;
}
ul {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
li {
  scroll-snap-align: center;
}
ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
  opacity: 1;
}

ul::scroll-button(*):active {
  translate: 1px 1px;
}

ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
ul::scroll-button(left) {
  content: "◄" / "Previous";
}

ul::scroll-button(right) {
  content: "►" / "Next";
}
ul {
  anchor-name: --my-carousel;
}

ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}
ul::scroll-button(left) {
  right: calc(anchor(left) - 60px);
  bottom: calc(anchor(top) - 230px);
  
}

ul::scroll-button(right) {
  left: calc(anchor(right) - 60px);
  bottom: calc(anchor(top) - 230px);
}


/*portfolio*/

.portfolio{
    text-align: center;
    margin: 1rem;
    
}

.portfolio-image img{
    width:90%;
    display: fit-content;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius:  15px;

}

.see-more{
    display: flex;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color:#fff9e6;
    text-align: center;
    background-color: #f05988;
    border-radius: 15px;
    padding: .75rem;
    font-weight: 600;
    
    justify-content: center;
    justify-self: center;
}


/*contact*/

.contact{
    margin: 1rem;
    
}

label{
    display:block;
    padding-top: 1rem;
}

input{
    display: inline-block;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form{
    font-weight: 600;
    background-color:#8784bf;
    padding: 1rem;
    color:#fff9e6;
    
}

.submit{
    text-decoration: none;
    background-color:#f05988;
    color:#fff9e6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    border-style: none;
    font-weight:600;
}

.contact p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}



@media (min-width:730px){
    a img{
        width: 16rem;
    }

    header a{
        font-size: 20px;
    }

    h1{
        font-size: 24px;
    }

    footer img{
        width: 16rem;
    }

    footer a{
        font-size: 18px;
    }

    .gallery img{
        width: 17rem;
    }

    .gallery2 img{
        width: 20rem;
    }

    .gallery3 img{
        width: 12rem;
    }

    h2{
        font-size: 20px;
    }

    .gallery1, .gallery2, .gallery3{
    display: grid;
    grid-template-columns: 60% auto;
    }

    .gallery p{
        font-size: 18px;
    }

    ul::scroll-button(*) {
  border: 0;
  font-size: 3rem;
    }

    ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) - 240px);
  
}

ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) - 240px);
}
}


@media (min-width:830px){
    .portfolio{
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
    }

    .portfolio img{
        width:22rem;
        align-self: center;

        margin: 1rem;
    }

    

    
}



@media (min-width:1240px){
    .portfolio img{
        width:35rem;
        
    }

    h1{
        
        font-size: 35px;
    }

    ul {
        height: 500px;
    }

    .gallery img{
        width: 23rem;
    }

    .gallery3 img{
        width: 16rem;
    }

    h2{
        font-size: 40px;
    }

    .gallery p{
        font-size: 30px;
    }

    .gallery1, .gallery2, .gallery3{
    display: grid;
    grid-template-columns: 50% auto;
    }

    .gallery3 h2{
        font-size: 35px;
    }

    .see-more{
        font-size: 25px;
    }

    a img{
        width: 24rem;
    }

    header a{
       font-size: 30px;
    }

    footer img{
        width: 20rem;
    }

    footer a{
        font-size: 25px;
    }

    ul::scroll-button(*) {
  border: 0;
  font-size: 4rem;
    }

    ul::scroll-button(left) {
  right: calc(anchor(left) - 80px);
  bottom: calc(anchor(top) - 280px);
  
}

ul::scroll-button(right) {
  left: calc(anchor(right) - 80px);
  bottom: calc(anchor(top) - 280px);
}
}

@media (min-width:1700px){
    
    
    .portfolio img{
        width: 47rem;
    }


}